<form [formGroup]="userForm" (submit)="openSocket()" *ngIf="isLoaded">
  <p>Enter username and join Doodle chat </p>
  <div style="margin-bottom: 20px;">
    Username:
    <input type="text" formControlName="fromId" name="fromId" placeholder="username">
    <input type="submit" [disabled]="userForm.invalid || isCustomSocketOpened" value="Join">
  </div>

</form>
<form [formGroup]="form" (submit)="sendMessageUsingSocket()">
  <p>Message:
  <input type="text" formControlName="message" name="message" placeholder="Message">
  <input type="submit" [disabled]="form.invalid || userForm.invalid" value="Send">
  </p>
</form>
<div class=chat>
<ul>
  <li *ngFor="let message of messages">{{message.fromId}} : {{message.message}}</li>
</ul>
</div>
